.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Item {
  font-size: medium;
  display:flex;
  width: 100%;
}

.Item p {
  width: 50%;
}

.Sum {
  background-color: #707a8d;
  font-size: medium;
  display:flex;
  width: 100%;
}

.Sum p {
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
