.App {
  text-align: center;
}

table {
  margin: auto;
  width: 70%;
  background-color: rgb(40, 44, 52);
  min-height: 70vh;
  color: white;
  font-size: medium;
  table-layout: auto; 
}

tr {
  width: 100%;
}
th {
  width: 50%;
  text-align: center;
}

td {
  width: 50%;
  text-align: center;
}


.Sum {
  background-color: #707a8d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
